.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the navbar spans the full height of the viewport */
  width: 100%; /* Ensure the navbar spans the full width of the viewport */
  background-color: #fff;
}

.navbar-logo {
  width: 50px; /* Adjust the width of the logo */
  margin-right: 40px; /* Add margin to separate logo from navigation links */
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Add gap between the buttons */
}

.button-icon,
.expense-icon,
.savinggoals-icon {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
}
